* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  font-size:20px;

}

body {
  background: #2b2b2b;
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

/* LIVRO */
.livro {
  width: 400px;
  height: 500px;
  position: relative;
  perspective: 2000px;
}

/* PÁGINA */
.pagina {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  transform-origin: left;
  transform: rotateY(0deg);
  transition: transform 0.8s ease;
  backface-visibility: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* PÁGINAS JÁ VIRADAS */
.pagina.virada {
  transform: rotateY(-180deg);
}

/* CONTEÚDO */
.conteudo {
  height: 100%;
}

/* BOTÕES */
.controles {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
