* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b2b2b;
  font-family: Georgia, serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.livro {
  width: 700px;
  height: 450px;
  position: relative;
  perspective: 2500px;
}

/* FOLHA */
.folha {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s ease;
}

/* Página frente e verso */
.frente, .verso {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.verso {
  transform: rotateY(180deg);
}

/* Página */
.pagina {
  width: 50%;
  height: 100%;
  background: white;
  padding: 30px;
  backface-visibility: hidden;
}

.pagina.esquerda {
  border-right: 1px solid #ddd;
}

.pagina.direita {
  border-left: 1px solid #ddd;
}

/* Folha virada */
.folha.virada {
  transform: rotateY(-180deg);
}

/* Botões */
.controles {
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
