* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b2b2b;
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.livro {
  width: 700px;
  height: 450px;
  position: relative;
  perspective: 2000px;
}

.folha {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.folha.ativa {
  display: block;
}

.pagina {
  width: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  padding: 30px;
  overflow: hidden;
  backface-visibility: hidden;
}

.pagina.esquerda {
  left: 0;
  border-right: 1px solid #ddd;
}

.pagina.direita {
  right: 0;
  border-left: 1px solid #ddd;
}

/* Botões */
.controles {
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* FOLHA COM 3D */
.folha {
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s ease;
}

/* FRENTE E VERSO */
.frente,
.verso {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.verso {
  transform: rotateY(180deg);
}

/* ESCONDE O TEXTO DO VERSO */
.pagina {
  backface-visibility: hidden;
}

/* AÇÃO DE VIRAR */
.folha.virada {
  transform: rotateY(-180deg);
}
